# Rsyslog configuration file for receiving syslogs:
# {{ ansible_managed }}

# Default location for work (spool) files:
$WorkDirectory /run/shm

# Set file name, also enables disk mode:
$MainMsgQueueFileName remote-syslog-mainq

# Provides UDP syslog reception:
$ModLoad imudp.so
$UDPServerRun 514

# Provides TCP syslog reception:
$ModLoad imtcp.so
$InputTCPServerRun 514

# Reduce any duplicates:
$RepeatedMsgReduction on

# Catch all logs for testing/diagnostics:
#*.* {{ syslog_receiver_remote_log_folder }}/full.log

# Define a rsyslog template based on hostname...
$template DynaFile,"{{ syslog_receiver_remote_log_folder }}/system-%HOSTNAME%.log"

# ...so we can have a file per hostname:
*.* -?DynaFile
