" {{ ansible_managed }}
" .vimrc
" https://www.reddit.com/r/linux/comments/3o7lel/a_good_vimrc/

" disables backwards compatibility mode
set nocompatible

" allows switching buffers without saving
set hidden

" highlight current line
set cursorline

" highlight wrap columns
set colorcolumn=72

" turn on spell check
"set spell
"set spellsuggest=best,10

" make searches case-insensitive
set ignorecase
set smartcase

" enable syntax processing
syntax enable
